
.yagami-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.9);
}


.yagami .title{

   background: #eee;
   border-bottom: 1px solid #ccc;
   padding: 10px 10px 10px 20px;
   color: #fff;
   margin:0;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color: #333;
   font-size: 1.5em;
}

.yagami{

  position: relative!important;
  margin: 0!important;
  overflow: auto!important;

  margin: auto;
  padding:0;
  background-color:#FFFFFF;
  /*border:5px solid #E0E0E0;
  border:1px solid #1a1a1a;*/
  position:fixed;
  top:3%;
  left: 50%;
  transform: translate(-50%, 0);  
  /*margin: 2% auto;*/
  /*overflow: hidden;;*/
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;

  -webkit-box-shadow:  0px 0px 6px 0px rgba(51,51,51,0.8);
  box-shadow:  0px 0px 6px 0px rgba(51,51,51,0.8);
  z-index: 120;

  -moz-transition: top 200ms ease;
  -webkit-transition: top 200ms ease;
  -o-transition: top 200ms ease;
  transition: top 200ms ease;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
}

.yagami-content{
  overflow:auto;
  height: auto;    
  display: contents;
}

.yagami .yagami-close{
	background: url(img/controller_close.png) no-repeat;
	width:22px;
	height:22px;
	top:10px;
	right:15px;
	z-index: 110;
	position: absolute;
	cursor: pointer;
}
