
$primary      :#333c73;
$accent       :#4555a3;
$accent-hover :#4757a4;
$secondary    :#3d4785;
$border       :#414b88;
$text         :#8289bd;
$second       :#343f77;

$pink-light  :#E91E63;
$pink        :#C2185B; 
$green       :#0097A7;
$green-light :#00BCD4;
$green-base  :#50cbab;

$red 		 :#c0392b;
$orange 	 :#e67e22;
$orange-light:#D35400;
$green-on    :#2ecc71;

$blue 	     :#1565C0;
$purple      :#8e44ad;

$dark 	     :#2C3E50;