html{
  height: 100%;
}

#root{
  height: 100%;
}

.login{
  padding:0;
  margin:0;
  height: 100%;
  overflow:hidden;
  background: #1a1a1a;
}

.fh{
  height: 100%;
}

.splash{
  padding-top:11%;
  background: #1A237E url('../imgs/57ed1b25de87e.jpg') center center fixed ; //#1a1a1a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  

  img.logo{    
    width:150px;
    display: block; 
    margin:auto;
    margin-bottom: 10px;
    text-align: center;    
  }


  h2{
    color:#fff;
    text-align: center;        
    font-weight: 100;
    margin-bottom:50px;
    font-family: 'Montserrat', Sans-serif;    
    
    
  }

  .form-signin {    
    margin:auto;
    width: 450px;

  }
  
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border:2px solid #5f0161;
     font-family: 'Montserrat', Sans-serif;    
    &:focus{
      border:2px solid #26002f;
    }
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    // margin-bottom: -1px;
    // border-bottom-right-radius: 0;
    // border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    // margin-bottom: 10px;
    // border-top-left-radius: 0;
    // border-top-right-radius: 0;
  }


  .btn{
     &-register{
      color:#fff;
      background-color: #5f0161;
      border:0;
      outline: none !important;
      &:focus{
        outline: none !important;
      }
      &:hover{
       border:0;
        background-color:#77105f;
      }      
      &:active{
        outline: none;
        border:0;
        background-color:#26002f;
      }
      &:pressed{
        border:0;
        outline: none;
        background-color:#512DA8;
      }
     }
 
}


}
