@import 'colors';


//url('../imgs/57ed1b25de87e.jpg')  center 20% 
.navbar{
	z-index: 3;
	&-theme{
		background: #5f0161 ;
		// border-bottom:5px solid #5f0161;
		a{                   
			&.navbar{
				&-brand{					
					font-family: 'Montserrat', sans-serif;
					font-size: 16px;
					img{
						width: 40px;
					}
				}
			}
			&.nav{
				&-link{
					padding-top: 13px;
					color:#000;
					font-size: 12px;
				}
			}               
		}
		.dropdown{
			.avatar{
				border:2px solid rgba(255,255,255,0.8);
			}
			a.nav-link{				
				background: transparent; //#5f0161;
			}			
			&-menu{				
				background: #5f0161;
				border-top-right-radius:0;
				border-top-left-radius:0;
				top:50px;
				border-top:0;
				a.dropdown-item{
					color:#fff;	
					padding-top: 13px;
					&:hover{
						background: #5f0161;
					}
				}
			}
		}
	}
}


li.lang-item{	
	background:#000;
	padding 	:0;
	margin  	:10px 0 0 0;	
	a.nav-link{
		color        :#fffff;
		font-size    :10px;
		padding  	 :0 0 0 0;
		margin  	 :0 0 0 0;			
		display      :inline;
	}
}