@import 'colors';
@import 'navbar';
@import 'table';
@import 'login';

body{
    color:#1a1a1a;
    padding: 0 0 0 0;
    margin:0;
    font-size: 90%;
}

a{
  transition: all 0.5s ease;
}

.hide{
    display:none;
}

.padding{
  &-10{
    padding:10px;
  }
  &-20{
    padding:20px;
  }
  &-30{
    padding:20px;
  }
  &-40{
    padding:40px;
  }
  &-50{
    padding:50px;
  }
}

.modal {
  text-align: center;
  &-body{
    padding: 25px 40px 40px 40px;
  }
  &-forms{
    h2{
      font-size: 20px;
    }
  }
}

.clearfix{
  clear:both;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  width: 500px;
  display: inline-block;
  text-align: left;
  vertical-align: middle; 

  .modal-footer{
    .btn{
      font-size: 11px;
      margin-left: 10px;
      border:0;
      &-default{
        background-color:#333;
        color:#fff;
      }
      &-primary{
        background-color:$blue;
        color:#fff;
      }
    }
  }
}

.search-customer{
  position:relative;
  margin-bottom: 50px;
  .search-input{
    font-size: 20px;
  }
  .results-customers{
    position:absolute;
    z-index: 4;
    top:54px;
    left:53px;
    right:15px;
    background: #fff;
    border:1px solid #ccc;
    border:0;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.64);
    .list-group{
      border:0;
      border-radius:0;
      .list-group-item{
        border-radius:0;
      }
    }
  }
}

/* Misc  
-------------------------------------------- */
hr{
  border:0;
  &.divider{    
    margin-bottom: 20px;
    border-bottom:1px solid #ccc;
  }
  &.separator{
    margin-bottom: 50px;
    &-10{
      margin-bottom: 10px;
    }
    &-20{
      margin-bottom: 20px;
    }
    &-30{
      margin-bottom: 30px;
    }
    &-40{
      margin-bottom: 40px;
    }
  }
}

/* Row 
-------------------------------------------- */
.row{
  h3{
    margin-bottom:5px;
    font-weight: 400;
  }
}

/* Layout 
-------------------------------------------- */
.page{
  padding-top:90px;
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
  }
}


/* form-group 
-------------------------------------------- */
.form-group{
  label{
    font-size: 14px;
  }
  .form-control{
    font-size: 12px;
  }
  .form-control-money{
    text-align: right;
  }
  .btn{
    
    &-submit{
     margin-left:10px;
    }
  }
}

/* form-payment
-------------------------------------------- */
.form-payment{
  .form-control{
    font-size: 22px;
  } 
}

/* Media Querys 
-------------------------------------------- */

@media only screen and (max-width: 3000px) {
  .container{      
    width: 60% 
  }
}

@media only screen and (max-width: 1920px) {
  .container{      
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .container{      
    width: 85% 
  }
}
@media only screen and (max-width: 768px) {
  .container{      
    width: 100% 
  }
}

.form{
  &-wrong{
    color:$red;
  }
}

input.currency {
    text-align: right;
    padding-right: 15px;
}


/* .btn
-------------------------------------------- */
.btn{
  &-space{
    &-left{
      margin-left:5px;
    }
  }
  cursor: pointer;
  .spinner {
    width: 15px;
    height: 15px;
    position: relative;
    margin-top: 1px;
    margin-right: 7px;
    display: inline-block;      
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  .sk-circle {
      
      width: 15px;
      height: 15px;
      position: relative;
      margin-top: 2px;
      margin-right: 7px;
      display: inline-block;
    }
    .sk-circle .sk-child {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .sk-circle .sk-child:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
              animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    }
    .sk-circle .sk-circle2 {
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }
    .sk-circle .sk-circle3 {
      -webkit-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
              transform: rotate(60deg); }
    .sk-circle .sk-circle4 {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .sk-circle .sk-circle5 {
      -webkit-transform: rotate(120deg);
          -ms-transform: rotate(120deg);
              transform: rotate(120deg); }
    .sk-circle .sk-circle6 {
      -webkit-transform: rotate(150deg);
          -ms-transform: rotate(150deg);
              transform: rotate(150deg); }
    .sk-circle .sk-circle7 {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .sk-circle .sk-circle8 {
      -webkit-transform: rotate(210deg);
          -ms-transform: rotate(210deg);
              transform: rotate(210deg); }
    .sk-circle .sk-circle9 {
      -webkit-transform: rotate(240deg);
          -ms-transform: rotate(240deg);
              transform: rotate(240deg); }
    .sk-circle .sk-circle10 {
      -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
              transform: rotate(270deg); }
    .sk-circle .sk-circle11 {
      -webkit-transform: rotate(300deg);
          -ms-transform: rotate(300deg);
              transform: rotate(300deg); }
    .sk-circle .sk-circle12 {
      -webkit-transform: rotate(330deg);
          -ms-transform: rotate(330deg);
              transform: rotate(330deg); }
    .sk-circle .sk-circle2:before {
      -webkit-animation-delay: -1.1s;
              animation-delay: -1.1s; }
    .sk-circle .sk-circle3:before {
      -webkit-animation-delay: -1s;
              animation-delay: -1s; }
    .sk-circle .sk-circle4:before {
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; }
    .sk-circle .sk-circle5:before {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s; }
    .sk-circle .sk-circle6:before {
      -webkit-animation-delay: -0.7s;
              animation-delay: -0.7s; }
    .sk-circle .sk-circle7:before {
      -webkit-animation-delay: -0.6s;
              animation-delay: -0.6s; }
    .sk-circle .sk-circle8:before {
      -webkit-animation-delay: -0.5s;
              animation-delay: -0.5s; }
    .sk-circle .sk-circle9:before {
      -webkit-animation-delay: -0.4s;
              animation-delay: -0.4s; }
    .sk-circle .sk-circle10:before {
      -webkit-animation-delay: -0.3s;
              animation-delay: -0.3s; }
    .sk-circle .sk-circle11:before {
      -webkit-animation-delay: -0.2s;
              animation-delay: -0.2s; }
    .sk-circle .sk-circle12:before {
      -webkit-animation-delay: -0.1s;
              animation-delay: -0.1s; }

    @-webkit-keyframes sk-circleBounceDelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
      } 40% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }

    @keyframes sk-circleBounceDelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
      } 40% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
}

.menu-btns{
  .btn{
    margin-left: 5px;
  }
}

 #map {
    height: 600px;
    width: 100%;
  }

 fieldset{
    border:1px solid #ccc;
    background:#f8f8f8;
    padding:20px;
    border-radius:5px;
  }

.fileForm{

 

  .dragfilesarea{    
    padding:20px 10px;    
    background:#eee;
    outline-offset: -10px;
    outline: 1px dashed #ccc;    
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;   
    &:hover, &-hover{    
      outline-offset: -15px;
      outline-color: #c8dadf;
      background:#f8f8f8;
    }
    .dragfiles{      
        text-align: center;   
        padding:30px;     
        h2{
          text-align: center;
          font-weight: 400;
          font-size: 20px;
        }
        cite{
          font-size: 10px;
          text-align: center;
        }
      }
  }
  .tab-content{
    padding:20px 20px;
    // height: 300px;
    // overflow: hidden;
    // overflow-y: auto;
    // border:1px solid #ccc;
    border-top:0;
     li{
      padding:5px;
      font-size: 80%;
      list-style: none;      
      margin-bottom:10px;
      border-radius:4px;
      border:1px solid #ccc;
      background-color:#FAFAFA;
      position:relative;
         .preview{
          width: 80px;
          height: auto;
        }

     }

     h4,h5,cite{
      padding:10px;
      display: inline-block;
     }
     h4{
      font-size: 14px;
      font-weight: 600;
     }
     h5{
      font-size: 12px;
     }

     i{
      &.remove{
        position: absolute;
         top:5px;
         right: 10px;
         font-size: 30px;
         cursor:pointer;
         color:#616161;
         &:hover{
          color:#212121;
         }
      }

     }
  }
}

/* .progressbar
-------------------------------------------- */

  .progresstrip {
    position: relative;
    height: 5px;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    background-color: green;
    color: green;
  }

  .progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: -32px;
    bottom: 0;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px 32px;
    -o-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-animation: stripe-animation 500ms linear infinite;
    -moz-animation: stripe-animation 500ms linear infinite;
    -ms-animation: stripe-animation 500ms linear infinite;
    -o-animation: stripe-animation 500ms linear infinite;
    animation: stripe-animation 500ms linear infinite; 
  }

  @-webkit-keyframes stripe-animation {
  0% {
    -webkit-transform: none;
    transform: none; }
  100% {
    -webkit-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }

  @-moz-keyframes stripe-animation {
  0% {
    -moz-transform: none;
    transform: none; }
  100% {
    -moz-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }

  @-o-keyframes stripe-animation {
  0% {
    -o-transform: none;
    transform: none; }
  100% {
    -o-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }

  @-ms-keyframes stripe-animation {
  0% {
    -ms-transform: none;
    transform: none; }
  100% {
    -ms-transform: translate(-32px, 0);
    transform: translate(-32px, 0); } }

  @keyframes stripe-animation {
  0% {
    transform: none;
    transform: none; }
  100% {
    transform: translate(-32px, 0);
    transform: translate(-32px, 0); } 
  }

.thumb-preview{
  overflow      : hidden;
  cursor        : pointer;  
  width         : 60px;
  height        : 45px;
  background    : #000;
  border-radius : 5px;
  margin: auto;
  border:1px solid #666;

  &:hover img{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all 0.8s;
      transition: all 0.8s;
      opacity:1.5;
  }  
  img {   
    opacity: .86;     
  }
}
video.preview {
  width: 100%    !important;
  height: auto   !important;
  cursor: pointer;
}


.VideoContainer{

  width: 100%;
  height: 100%;
  background-color:#000;
}

.dragrow{

  padding:30px;
  height: 90%;

  .fh{
    height: 100%;  
  }

  .mb{
    margin-bottom: 15px;
  }

  .search{
    font-size: 12px;
  }

 
  ul.list-drag{
    
    width: 100%;
    height: 90%;
    padding:20px;   
    overflow: auto;    
    border-radius:2px;
    transition: all 0.8s;
    border:1px solid #cecece;
    background-color:#f3f3f3;  
    display: block;

     li.list-group-item{
          transition: all 0.8s;           
          font-size: 12px;          
          height: 80px;
          margin-bottom: 3px;
          cursor: move;
          display: flex;
          width: 100%;
          justify-content:space-between;

          &:active{
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
          }

          .img-thumbnail{
            width: 80px;
            height: auto;
            padding:0;
          }

          .description{
            width: 60%;
            font-size: 11px;
          }
      }
  }

  ul.dropzone{
    padding-bottom:100px;
  }

  .savebtn{
    background-color:#000;
  }

}

.search-input{
  position:relative;
  &-container{
    z-index:3;
    .form-control{
        &:focus{
          border-bottom-left-radius:0;
          border-bottom-right-radius:0;
        }
    }
  }
  .result-input-search{
      z-index:2;
      position:absolute;
      top:31px;

      div.list-group{   
          background-color:#f8f8f8;
          padding:0;
          border:1px solid #64B5F6;          
          -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.46);
          -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.46);
          box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.46);
          a.list-group-item{
            padding:6px;
            font-size: 12px;
            cursor:pointer;            
            background:transparent;            
            border-left:0;
            border-right:0;
            border-radius:0;            
            &:hover{
              background-color:#eee;
            }
            &:last-child{
              
            }
          }
      }
  }
}


.preloader{
    
    &-container{
      // width:  250px;
      // height: 250px;
      // padding:0;
      // margin:0;
      // border: 1px solid #000;
      // border-radius: 50%;  
    }


}



.full{
  overflow:hidden;

    .page{
      padding-top:60px;
      padding-bottom:0; 
    }
    &-menu{
      z-index: 5;
      overflow:hidden;
      background-color:#fff;
      border-right:1px solid #ccc;      
      // overflow-y: scroll;

      // &::-webkit-scrollbar-track{
      //   background-color: #666;
      // }

      // &::-webkit-scrollbar{
      //   width: 4px;
      //   background-color: #F5F5F5;
      // }

      // &::-webkit-scrollbar-thumb{
      //   background-color: #333;
      // }
    }
    &-content{

      display: flex;
      justify-content:center;
      align-items:center;
      position:relative;
      align-content:center;
      background-color:#eee;
        
      .nav-tools{
        top:0;
        left:0;
        right: 0;        
        position:absolute;         
        background-color:#fff;
        border-bottom:1px solid #ccc;
        z-index: 2;
        a.nav-link{
          font-size: 14px;
        }
      }

      .content{
        display: flex;
        justify-content:center;
        align-items:center;

        .workspace{
         
          vertical-align: middle;
          border:1px solid #ccc;
          background-color:#fff;
          position:relative;

          background-color:#fff;
     
          // background-image: linear-gradient(to right, #ddd 1px, transparent 1px), linear-gradient(to bottom, #ddd 1px, transparent 1px), -webkit-linear-gradient(0deg, #ccc 1px, transparent 0px);        
          // background-size: 21px , 33px  , 8.3469% 100%;
          // background-size: 8.3469%;/*8.39*/

          background-image: -webkit-linear-gradient(0deg, #eee 1px, transparent 0px);
          background-size: 8.3469%;/*8.39*/
          background-size: 159px;/*8.39*/

          .ui-component{
              width: 100px;
              height: 100px;
              border:1px solid #ccc;
              position:absolute;
              cursor:move;

              &:hover{
                border: 1px dashed #ccc;
              }
          }
        }


      }
      
    }
}



.posts{

  &-side{
     .card{
      margin-bottom: 15px;
     }
  }
}

.text-slugfy{
  margin: -2px 0 0 0;
  font-size: 10px;
  background-color:#f7f7f7;
  padding:5px;
  border-radius:0;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border:1px solid #ccc;
  color:#666;
   a{
      color:#666;
   }
}

.image-feature-container{
    border-bottom:1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    img{
      width: 100%;
      height: auto;
    }
}


.form-group-quill{
  &-container {
    height: 400px;
  }
  &-editor{
    height: 300px;
  }
}