@import 'colors';

.ztable { 
  position: relative;
  width: 100%;
  table.table {
    border:1px solid #eee;
    border-top-width:4px;
    border-top-color:$primary;
    td {    
      vertical-align: middle;     
      color: #333;
      border-left:0 !important;
     }
    th {      
      vertical-align: middle;
      border-right:1px solid #eee;
      a {
        text-decoration: underline;
      }
      &.sort {
        cursor: pointer;
        padding-right: 25px;
        text-decoration: underline;
        background: url(images/sort_desc_alt.png) right center no-repeat;
        &:hover {
          text-decoration: none;
        }
      }
      &.sort-up {
        background: url(images/sort_asc.png) right center no-repeat;
      }
      &.sort-field {
        background-color: #f8f8f8;
      }
    }
    td.nogrid, th.nogrid, td.lastcol, th.lastcol {
      border-right: 0;
      border-left: 0;
    }
    td {
      font-size: 12px;
      &.center {
        text-align: center;
      }
      &.right {
        text-align: right;
      }
    }
    th {
      font-size: 12px;
      padding:10px;
      &.left {
        text-align: left;
      }
      &.center {
        text-align: center;
      }
      &.right {
        text-align: right;
      }
    }
    td .label {
      cursor: pointer;
    }
  }

  .input-group{
    margin-bottom: 5px;
    .input-group-addon{
      padding:4px 12px;      
      border-radius-width:3px;
    }
   
  }
}

.ztable-cursor {
  cursor: pointer;
}

.ztable {
  ul.pagination{
    li{      
      &.page-item{    
        a.page-link{         
            text-decoration: none;
          }        
      }
      &.load{        
        a{
          background-color:#ccc;           
          animation-name: anim, color;
          animation-duration: 5s;
          animation-timing-function:ease;
          animation-iteration-count:infinite;               
        }
      }
    }
  }

  table {   
    .text-danger {
      color: #e74c3c;
      
    }

    a{
      text-decoration: none !important;      
    }

    span.badge{      
      border:0;
      word-wrap: none;
      background: none;
      display: inline-block;
      padding:6px; 
      border-radius:3px; 

      &-pill{                   
          border:1px solid #333;
      }
      &-default{
        border-color:#333;
        color: #333;
      }
      &-danger{
        &-full{
          border:none;
          background-color:$red;
          border-color:$red;
          color: #fff;
        }
        border-color:$red;
        color: $red;
        &-link{
          border-color:$red;
          color:$red;
          &:hover{
            background-color:$red;
            color:#fff;
          }
        }
      } 
      
       &-pending{              
        background-color:#999;
        border:0;
        color:#fff;
      }
      &-ok{              
        background-color:$green;
        border:0;
        color:#fff;
      }
      &-cancel{                    
        background-color:$red;
        border:0;
        color:#fff;
      }
      &-pos-cxl{              
        background-color:$pink;
        border:0;
        color:#fff;
      }
      &-delinquent{        
        background-color:$purple;
        border:0;
        color:#fff;
      }
      &-settled{           
        background-color:$green-light !important;
        color:#fff;
        border:0;
      }

      &-primary{
        border-color:$accent;
        color: $accent;
      }

       &-success{
        border-color:$green;
        color: $green;
        &-full{
          border:none;
          color:#fff;
          background-color:$green;
          border-color:$green;
        }
      }

      &-link{
        border-color:$blue;
        color: $blue;        
        &:hover{
          background-color:$blue;
          color:#fff;
        }
      }
    }

  }
  nav {
    display: block;
    text-align: center;
    .pagination a.banned {
      background-color: #eee;
    }
  }
  .pagination{
    a{
      font-size: 11px;
    }
  }
}

